@import 'src/assets/styles/variables';

.arrow {
  width: 100%;
  max-width: 18px;
  margin: 0 auto;
  cursor: pointer;
  fill: $white;
  transition: $hover-transition;

  &:hover {
    transform: scale(1.2);
  }
}

.flip {
  transform: scale(1) rotateZ(180deg);

  &:hover {
    transform: scale(1.2) rotateZ(180deg);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}
