@import 'src/assets/styles/variables';
@import 'src/assets/styles/fonts';

.button {
  font-family: $primaryFont;
  font-size: $lTextSize;
  color: $white;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  background: none;
  border: none;
  transition: $hoverTransition;

  &:hover {
    transform: scale(1.2);
  }
}