@import 'src/assets/styles/variables';
@import 'src/assets/styles/fonts';

.tab {
  padding: 12px;
  font-family: $primaryFont;
  font-size: $lTextSize;
  color: $white;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: $transition;
  transform: translateY(4px);

  &:hover {
    color: black;
    background-color: $white;
    transition: $transition;
    transform: translateY(0);
  }
}

.active {
  color: $black;
  background-color: $white;
  transition: $transition;
  transform: translateY(0);
}