@import 'src/assets/styles/variables';

.statisticTab {
  display: grid;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.statisticItem:nth-child(even) {
  background-color: rgba($color: $black, $alpha: 75%);
}