@import '@/styles/variables';

.positionTable {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
  align-items: center;

  transition: $transition;
}

.position {
  text-align: center;
}

.player {
  width: 100%;
}

.isOver {
  background-color: $green;
}