@import '@/styles/variables';
@import '@/styles/mixins';
@include hoverScale('btn', 1.1);
@include hoverScale('secondaryBtn', 1.1);

.btn {
  margin: 0;
  font-size: $s-text-size;
  font-weight: 700;
  color: $primary-color;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $quinary-color;
  border: 0;
  border-radius: 8px;
  transition: $transition;
  transform: translateY(1px);
}

.primaryBtn {
  padding: 7px 10px;
  border: 1px solid $primary-color; 

  &:hover {
    color: $quinary-color;
    background-color: $secondary-color;
  }
}

.secondaryBtn {
  padding: 7px 10px;
}

.btn.disabled {
  color: rgba($color: $gray, $alpha: 30%);
  cursor: not-allowed;
  background-color: rgba($color: $gray, $alpha: 20%);
}
