@import 'src/assets/styles/variables';
@import 'src/assets/styles/fonts';

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $primaryFont;
  font-size: $lTextSize;
  color: $white;
  letter-spacing: 1px;
}