@import '@/styles/variables'; 

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 5px;
  font-size: $s-text-size;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $primary-color;
  outline: none;

  &.error {
    border-bottom-color: $error-color;
  }
}

.isInputTypePassword {
  padding-right: 10%;
}

.passwordEye {
  position: absolute;
  top: 50%;
  right: 2.5%;
  cursor: pointer;
  transform: translate(0, -50%);
}

.errorMsg {
  position: absolute;
  bottom: -5px;
  left: 0;
  font-size: $xs-text-size;
  transform: translate(0, 100%);
}