@import '@/styles/variables';

.controlPanel {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

.pagination {
   margin: 0 auto;
}

.data {
    display: grid;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.dataItem {
    width: fit-content;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}