@import '@/styles/variables';

.messagesLayout {
    display: grid;
    grid-template-columns: auto min(350px);
    height: 100%;
}

.chatsWrapper, .messagesWrapper {
    display: grid;
    gap: 12px;
    padding: 15px;
    overflow-y: auto;
}

.chatsWrapper {
    display: grid;
    padding: 15px;
    border-left: 1px solid $quaternary-color;
}
