.cardWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    width: 450px;
}

.titleStatus {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    width: fit-content;
}