$primary-color: #000000;
$secondary-color: #383838;
$tertiary-color: #747474;
$quaternary-color: #b7b7b7;
$quinary-color: #ffffff;
$white: white;
$black: black;
$gray: gray;
$red: red;
$green: green;
$yellow: yellow;
$l-text-size: 24px;
$m-text-size: 20px;
$s-text-size: 16px;
$base-indent: 120px;
$padding-section: $base-indent 0;
$transition: all 0.3s ease-out;
$hover-transition: all 0.3s ease-out;
$laptop: 1024px;
$tablet: 768px;
$s-tablet: 565px;
$l-mobile: 480px;
$m-mobile: 414px;
$s-mobile: 360px;
$primary-indent: 15px;
