$primary-color: #095899;
$secondary-color: #0b66b2;
$tertiary-color: #1c4466;
$quaternary-color: #faf9f6;
$quinary-color: #ffd996;
$senary-color: #82caf0;
$septenary-color: #d9d9d9;
$octonary-color: #f5f5f5;
$nonary-color: #c1e7ff;
$denary-color: #e8a621;
$eleventh-color: #89a7c0;
$duodenary-color: #e5f5ff;
$thirteenth-color: #deeffa;
$white: white;
$black: black;
$gray: gray;
$red: red;
$green: green;
$l-text-size: 24px;
$m-text-size: 20px;
$s-text-size: 16px;
$base-indent: 120px;
$padding-section: $base-indent 0;
$transition: all 0.25s ease-out;
$hover-transition: all 0.15s ease-out;
$s-mobile: 360px;
$m-mobile: 414px;
$l-mobile: 480px;
$s-tablet: 565px;
$tablet: 768px;
$laptop: 1024px;
