@import 'src/assets/styles/variables';

.buttonIcon {
  cursor: pointer;
  background: none;
  border: none;
  transition: $hoverTransition;

  &:hover {
    transform: scale(1.1);
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
  &:hover { transform: none; }
}