@import '@/styles/variables';

.modal {
    position: relative;
    display: grid;
    gap: 20px;

    width: 100%;
    max-width: 450px;
}

.title {
    width: 100%;
    max-width: 80%;
}

.closeIcon {
    position: absolute;

    top: 5px;
    right: 5px;
    width: fit-content;
    height: fit-content;

    cursor: pointer;
}