.ratingMatchWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cardPrepareMatch {
    display: grid;
    gap: 32px;
}

.playerReadyWrapper {
    display: grid;
    gap: 16px;
    justify-content: center;
}