@import '@/styles/variables';

.paddingContainer {
    height: 100%;
}

.signInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    max-width: 450px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-content: center;
}

.title {
    text-align: center;
    text-transform: capitalize;
}

.inputsWrapper {
    display: grid;
    gap: 32px;
}