@import '@/styles/variables';

.playerCard {
    border: none !important;
    box-shadow: none !important;
}

.card {
    display: grid;
    gap: 20px;
    width: fit-content;
    padding: $primary-indent;
    border: 1px solid $tertiary-color;
    border-radius: 12px;
    box-shadow: $box-shadow;

    hr {
        width: 100%;
    }
}