@import 'src/assets/styles/variables';
@import 'src/assets/styles/fonts';

.option {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 25px;
}

.text {
  font-family: $primaryFont;
  font-size: $lTextSize;
  color: $white;
  letter-spacing: 1px;
}

.iconOptions {
  width: 100%;
  max-width: 30px;
  fill: $white;
}