@import 'src/assets/styles/variables';
@import 'src/assets/styles/fonts';

.team {
  display: grid;
  gap: 15px;
  justify-content: center;
}

.teamName {
  font-family: $primaryFont;
  font-size: $lTextSize;
  color: $white;
  text-align: center;
  letter-spacing: 1px;
}

.teamImg {
  width: 100%;
  width: auto;
  max-height: 70px;
  margin: 0 auto;
  border-radius: 6px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skill {
  display: grid;
  justify-content: center;
}

.skillName, .skillValue {
  font-family: $primaryFont;
  color: $white;
  text-align: center;
  letter-spacing: 1px;
}