@import 'src/assets/styles/variables';
@import 'src/assets/styles/fonts';

$size: 45px;

.position {
  position: absolute;
  width:  $size;
  height: $size;
  background-color: rgba($color: $white, $alpha: 60%);
  border: 2px solid $white;
  border-radius: 50%;
  box-shadow: calc($size / 15) calc($size / 15) 2px 0 rgba($color: $black, $alpha: 35%);
  transform: translate(-50%, 50%);
}