.infoRewardWrapper {
    display: grid;
    gap: 24px;
    width: fit-content;
    margin: auto;
}

.money {
    display: flex;
    gap: 15px;
    width: fit-content;
    margin: auto;
}

.cashIconWrapper {
    width: fit-content !important;
}