.game {
  height: 100%;
  overflow-y: auto;
  background-image: linear-gradient(to right, rgba(255,255,255, 0.95) 0 100%), url('/images/bg-stadium.jpeg');
  background-size: cover;
}

.match {
  display: grid;
  gap: 10px;
  justify-content: center;
}

.matchTabContent {
  display: grid;
  gap: 15px;
  justify-content: center;
}

.control {
  display: flex;
  gap: 25px;
}