// base color
$white: white;
$black: black;
$yellow: yellow;
$grey: grey;
$red: red;
$green: lawngreen;

// text
$lTextSize: 24px;
$mTextSize: 20px;
$sTextSize: 16px;

// animation
$transition: all 0.2s ease-in;
$hoverTransition: all 0.15s ease-out;

// media
$sMobile: 360px;
$mMobile: 414px;
$lMobile: 480px;
$sTablet: 565px;
$tablet: 768px;
$laptop: 1024px;
$grid: 0.5fr 5fr 3fr 2fr repeat(2, 3.5fr) repeat(2, 1.5fr);