// base color
$white: white;
$black: black;
$yellow: yellow;
$grey: grey;
$red: red;
$green: lawngreen;

// text
$l-text-size: 24px;
$m-text-size: 20px;
$s-text-size: 16px;

// animation
$transition: all 0.2s ease-in;
$hover-transition: all 0.15s ease-out;

// media
$s-mobile: 360px;
$m-mobile: 414px;
$l-mobile: 480px;
$s-tablet: 565px;
$tablet: 768px;
$laptop: 1024px;